*{
    background: black;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.clock{
    width: 200px;
    height: 200px;
    border: 4px solid #1b1b1b;
    border-radius: 50%;
    z-index: -1;
}

.clock::before{
    content: 'CiMiKo';
    color: white;
    text-align: center;
    position: absolute;
    background-color: #1b1b1b;
    width: 105px;
    height: 105px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.hand{
    transform-origin: 100% 0%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.minute{
    width: 6px;
    height: 80px;
    margin-left: -6px;
    background-color: #b5b7c4;
    border-radius: 2rem;
    z-index: 2;
}

.hour{
    width: 6px;
    height: 100px;
    background-color: transparent;
    margin-top: 3px;
}

.second{
    width: 2px;
    height: 90px;
    background-color: #f61608;
    border-radius: 2rem;
    z-index: 1;
}

.hour::after{
    content: 'C';
    color: white;
    text-align: center;
    position: absolute;
    background-color: #f61608;
    z-index: 12;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}